<div class="container-fluid page-body-wrapper ">
    <!-- partial:../../partials/_sidebar.html -->
    
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <div class="user-profile">
        <!-- <div class="user-image">
          <img src="../../images/faces/face28.png">
        </div> -->
        <div class="user-name adminName">
           Danish
        </div>
        <div class="user-designation">
            Admin
        </div>
      </div>
      <ul class="nav a">
        <li class="nav-item ">
          <a class="nav-link active" href="/admin/dashboard" >
            <i class="icon-box menu-icon"></i>
            <span class="menu-title">Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/users">
            <i class="fa-solid fa-user mr-4"></i>
            <span class="menu-title">Users</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/products">
              <i class="fa-solid fa-cube mr-4"></i>
            <span class="menu-title">Products</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/orders">
            <i class="fa-regular fa-square-check mr-4"></i>
            <span class="menu-title">Orders</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/categories">
              <i class="fa-solid fa-shirt mr-4"></i>
            <span class="menu-title">Categories</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/brands">
              <i class="fa-solid fa-bars mr-4"></i>
            <span class="menu-title">Brands</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/admin/coupon">
              <i class="fa-solid fa-paper-plane mr-4"></i>
            <span class="menu-title">Coupons</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/offer">
              <i class="fa-solid fa-bars mr-4"></i>
            <span class="menu-title">Offers</span>
          </a>
        </li>
      
        
        <li class="nav-item">
         <form action="/admin/logout" method="post"><a class="nav-link" href="">
              <i class="fa-solid fa-right-from-bracket mr-4"></i>
            <button class=" border border-0" style="    background-color: transparent;"><span class="menu-title">Logout</span></button>
          </a>
        </form> 
        </li>
        
      </ul>
    </nav>
    



