
<footer class="footer">
    <div class="container">
        <div class="row text-center text-md-start">
           
            <div class="col-12 col-md-3 mb-4">
                <h5>CALIO</h5>
                <p>Step into a world of enchanting aromas and exquisite scents at Calio. Our store is a haven for fragrance enthusiasts, offering a curated collection of premium perfumes, colognes, and essential oils that captivate the senses and elevate your spirit.</p>
            </div>

           
            <div class="col-12 col-md-3 mb-4">
                <h5>Support</h5>
                <p>111 Bijoy Sarani, Dhaka, DH 1515, Bangladesh.</p>
                <p>calio@gmail.com</p>
                <p>+91 9895573357</p>
            </div>

           
            <div class="col-12 col-md-2 mb-4">
                <h5>Account</h5>
                <p><a href="#">My Account</a></p>
                <p><a href="#">Login / Register</a></p>
                <p><a href="#">Cart</a></p>
                <p><a href="#">Wishlist</a></p>
                <p><a href="#">Shop</a></p>
            </div>

            
            <div class="col-12 col-md-2 mb-4">
                <h5>Quick Link</h5>
                <p><a href="#">Privacy Policy</a></p>
                <p><a href="#">Terms Of Use</a></p>
                <p><a href="#">FAQ</a></p>
                <p><a href="#">Contact</a></p>
            </div>

           
            <div class="col-12 col-md-2">
                <h5>Follow Us</h5>
                <div class="social-icons">
                    <a href="#"><i class="bi bi-facebook"></i></a>
                    <a href="#"><i class="bi bi-twitter"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
        </div>
        <div class="w-100">
           <p class="text-center">Copyright © 2024 Calio. All Rights Reserved.</p> 
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- Bootstrap JS (for navbar toggle) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- Bootstrap Icons (optional) -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</body>
</html>
