<body>


    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top mt-0">
        <div class="container-fluid">
            <a class="navbar-brand ms-5" href="#">CALIO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact Us</a>
                    </li>
                </ul>
                <div class="navbar-icons d-flex  me-5">
                    <div class="search-bar">
                        <input type="text" placeholder="What are you looking for?">
                    </div>
                    <a href="#"><i class="bi bi-heart"></i></a>
                    <a href="/cart"><i class="bi bi-cart"></i></a>
                    <% if(user){ %>

                        <a href="/profile"><i class="bi bi-person"></i></a>
                        <form action="/logout" method="post">
                            <button class="btn btn-danger ps-3 align-items-center pb-1">Logout</button>
                        </form>
                       
                        <% }else{ %>
                           
                    <a href="/login" class="ps-3 align-items-center pb-1">login</a>
                    <% } %>
                </div>
            </div>
        </div>
    </nav>

        
