<body>


    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top mt-0">
        <div class="container-fluid">
            <a class="navbar-brand ms-5" href="#">CALIO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/shop">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact Us</a>
                    </li>
                </ul>
                <div class="navbar-icons d-flex  me-5">
                    <div class="search-bar">
                        <div class="row">
                            <form id="search-form" class="search-bar" action="/shop" method="GET">
                                <div class="form-group" style="display: flex; align-items: center;">
                                    <input type="text" name="query" placeholder="What are you looking for?" 
                                           value="<%= typeof searchQuery !== 'undefined' ? searchQuery : '' %>"
                                           style="flex: 1; padding: 10px; margin-right: 10px;">
                                    <button type="submit" class="btn" style="padding: 0;">
                                        <i  class="fa-solid fa-magnifying-glass"></i>

                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                    <a href="/wishlist" class="position-relative">
                        <i class="bi bi-heart"></i>
                        <% if (user && wishlist) { %>
                            <span id="wishlist-count" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary" style="font-size: 8px; margin-top: 5px;">
                                <%= wishlist.products.length %>
                            </span>
                        <% } %>
                    </a>
                    <a href="/cart" class=" position-relative"><i class="bi bi-cart"></i> 
                       <% if(user&&cart){ %>
                         <span id="cart-count" class="position-absolute top-0  translate-middle badge rounded-pill bg-primary" style="font-size: 8px; margin-top: 7px;">
                        <%=cart.items.length%>
                         </span>
                        <% } %>
                        </a>
                    <% if(user){ %>

                        <a href="/profile"><i class="bi bi-person"></i></a>
                       
                       
                        <% }else{ %>
                           
                    <a href="/login" class="ps-3 align-items-center pb-1">login</a>
                    <% } %>
                </div>
            </div>
        </div>
    </nav>

        
