<%- include('../partials/head.ejs') %>

<body class="log_body">
    <div class="log_container container overflow-hidden vh-100 d-flex justify-content-center">
       
            <div class="row">
                <div class="col-sm-6 d-none d-sm-block mt-4">
                    <img class="log_img mb-5" src="/public/images/boss thor.jpg" alt="">
                </div>
                <div class="col-sm-6 pt-3 ps-5 d-flex align-items-center">
                 
                    <form class="loginForm" id="loginForm" action="/login" method="post" onsubmit="return validLogin(); ">
                        <H2 class="mb-3 fw-bolder">Login to your account</H2>
                     
                        <p>Enter your details below</p>
                        <% if (message.error) { %>
                          <div class="alert alert-danger">
                            <%= message.error %>
                          </div>
                        <% } %>
                        <div class="mb-4">
                         
                            <input type="text" name="log" class="form-control fs-0 rounded-0 border-0 border-bottom  " id="log" aria-describedby="emailHelp" placeholder="Email or Username">
                            <p id="log-error" class="text-danger"></p>
                        </div>
                        <div class="mb-3">
                         
                          <input type="password" name="password" class="form-control  rounded-0 border-0 border-bottom " id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <% if(message.inc_pass) {%>
                        <div id="errorMsg text-danger" class="text-danger">
                         
                          <%= message.inc_pass %>
                        </div>
                        <% } %>
                       <div class="row pt-3">
                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-primary px-5">Login</button>
                        </div>
                        <div class="col-sm-6 mt-1">
                          <a href="/login/forget_password/emailVerication" class="f-p text-danger text-decoration-none">Forget Password?</a>
                        </div>
                        
                       </div>
                      
                       <div class="d-flex gap-3 flex-column mt-3 mb-2">
                        <a href="/auth/google" class="btn btn-lg btn-outline-dark">
                            <svg xmlns="http://www.w3.org/2000/svg"  width="16" height="16" viewBox="0 0 326667 333333" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd"><path d="M326667 170370c0-13704-1112-23704-3518-34074H166667v61851h91851c-1851 15371-11851 38519-34074 54074l-311 2071 49476 38329 3428 342c31481-29074 49630-71852 49630-122593m0 0z" fill="#4285f4"/><path d="M166667 333333c44999 0 82776-14815 110370-40370l-52593-40742c-14074 9815-32963 16667-57777 16667-44074 0-81481-29073-94816-69258l-1954 166-51447 39815-673 1870c27407 54444 83704 91852 148890 91852z" fill="#34a853"/><path d="M71851 199630c-3518-10370-5555-21482-5555-32963 0-11482 2036-22593 5370-32963l-93-2209-52091-40455-1704 811C6482 114444 1 139814 1 166666s6482 52221 17777 74814l54074-41851m0 0z" fill="#fbbc04"/><path d="M166667 64444c31296 0 52406 13519 64444 24816l47037-45926C249260 16482 211666 1 166667 1 101481 1 45185 37408 17777 91852l53889 41853c13520-40185 50927-69260 95001-69260m0 0z" fill="#ea4335"/></svg>
                        <span class="ms-2 fs-6 fw-bold">Sign in with Google</span>
                        </a>
                        <p>Don’t have an account? <a href="/signup" class="fw-bold text-dark text-decoration-none">Sign up fo free!</a> </p>
                      </div>

                       
                      </form>
                </div>
              </div>
            
               
          
          
    </div>

    <script>
       document.addEventListener("DOMContentLoaded",()=>{
            const resetPassSaved=localStorage.getItem('resetPass');
          
         if(resetPassSaved==="true"){
             Swal.fire({
                 icon: 'success',
                 title: 'Success',
                 text: 'Your password is changed!',
             });
             localStorage.removeItem('resetPass')
         }
        
        })
      function validLogin() {
        let log=document.getElementById('log').value;
        
        document.getElementById('log-error').textContent = '';
       

if (log.trim().length==0) {
  document.getElementById('log-error').textContent = 'field should not be empty!';
  return false;
}
return true
      }
    </script>

   
   
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- Bootstrap JS (for navbar toggle) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- Bootstrap Icons (optional) -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</body>
</html>